$white: white;

.header {
  font-size: xx-large;
  text-align: center;
  color: $white;
}
.movies {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  width: 30%;
  margin-bottom: 5%;
  margin-top: 5%;
  .images {
    width: 40%;
    height: 40%;
  }
  .movieName,
  .moviePrice {
    color: $white;
    display: block;
  }
}
footer {
  text-align: center;
  .totalPrice {
    color: $white;
  }
}
.emptyBasket {
  color: $white;
  text-align: center;
}
