<h1>
  <a
    href=""
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    STEFLIX
  </a>
</h1>

<header>
  <nav>
    <ul>
      <li>
        <a href="categories" routerLink="categories" routerLinkActive="active"
          >Kategorier
        </a>
      </li>
      <li>
        <a href="" routerLink="" routerLinkActive="active">
          Filmer
        </a>
      </li>

      <li>
        <a href="cart" routerLink="cart" routerLinkActive="active"
          ><fa-icon [icon]="faCartPlus"></fa-icon>
        </a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
